.nav {
    background-color: #2c3e50;
    padding: 1rem 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.nav-link:hover {
    background-color: #34495e;
    color: #ffffff;
}

.nav-link.active {
    background-color: #1abc9c;
    color: #fff;
}


.nav-logout {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.nav-logout span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.logout-btn {
    background-color: #1abc9c;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.navbar {
    height: 150px;
    overflow: hidden;
}

.logout-btn:hover {
    background-color: #16a085;
}
